.main {
  margin: 50px 150px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.education-content {
  display: flex;
  justify-content: space-between;
}

.skills-matching {
  display: flex;
  justify-content: flex-start;
}

.skills {
  margin-left: 70px;
}

.work-title {
  display: flex;
  justify-content: space-between;
}
